h1 = t('views.entries.new.entry_photos')
= link_to t('views.entries.new.to_contest_page'), contest_path(@contest)

div(
  data-controller='file-entry'
  data-file-entry-entries-create-path-value=contest_entries_path
)
  .drop-and-preview-zone(
    data-file-entry-target='dropZone'
    data-action='dragover->file-entry#dragOver \
                 dragleave->file-entry#dragLeave \
                 drop->file-entry#drop'
  )
    p.hidden.sm:block.text-gray-500.text-center
      = t('views.entries.new.drag_and_drop_to_add')

    input#file-input.hidden(
      type='file'
      data-file-entry-target='fileInput'
      data-action='change->file-entry#addFiles'
    )
    .preview-container data-file-entry-target='preview'

  .sm:hidden
    label
      | 画像を選択してください
      input#mobile-file-input.hidden(
        type='file'
        data-file-entry-target='fileInput'
        data-action='change->file-entry#addFiles'
      )

  button(
    data-action='click->file-entry#upload'
  )
    = t('views.entries.new.enter')
