h1 = t('views.entries.new.entry_photos')
= link_to t('views.entries.new.to_contest_page'), contest_path(@contest)

#drop-zone.drop-zone.hidden.sm:block(
  data-controller="drag-drop"
  data-drag-drop-entries-create-path-value=contest_entries_path
  data-drag-drop-target="dropZone"
  data-action="dragover->drag-drop#dragOver \
               dragleave->drag-drop#dragLeave \
               drop->drag-drop#drop"
)
  = t('views.entries.new.drag_and_drop_to_add')
  input#file-input(
    type="file"
    multiple
    hidden
    data-drag-drop-target="fileInput"
  )
  #preview.preview-container data-drag-drop-target="preview"
  button#upload-button.upload-button data-action="click->drag-drop#upload"
    = t('views.entries.new.enter')

.sm:hidden スマホ用エリア
