.inline-block.relative.flex.justify-end(
  data-controller='dropdown'
  data-action='click->dropdown#toggle\
               click@window->dropdown#hide\
               touchstart@window->dropdown#hide\
               keydown.up->dropdown#previousItem\
               keydown.down->dropdown#nextItem\
               keydown.esc->dropdown#hide'
)
  button(
    data-action='dropdown#toggle:stop'
    class='flex items-center text-lg text-gray-700 font-medium \
           bg-white px-4 py-2 rounded-md hover:ring-2 \
           focus:outline-none focus:ring-2 focus:ring-cyan-500'
  )
    - if @selected_contest_name.present?
      = "#{@selected_contest_name} ▼"
    - else
      = "#{t('views.layouts.header.select_contest')} ▼"
  div(
    data-dropdown-target='menu'
    class='hidden absolute top-8 right-0 mt-2 w-64 flex flex-col \
           bg-white border border-gray-200 rounded-md shadow-lg z-50'
  )
    - @recent_contests.each do |contest|
      = link_to contest.name,
        contest_path(contest),
        data: { dropdown_target: 'menuItem' },
        class: 'no-underline px-4 py-2 text-gray-700 \
        hover:bg-slate-200 \
        focus:ring-inset focus:ring-2 focus:ring-cyan-500 focus:rounded-lg'
    = link_to t('views.layouts.header.contest_index'),
      user_contests_path(current_user),
      data: { dropdown_target: 'menuItem' },
      class: 'no-underline px-4 py-2 text-gray-700 \
      hover:bg-slate-200 \
      focus:ring-inset focus:ring-2 focus:ring-cyan-500 focus:rounded-lg'
