.relative.flex.justify-end.w-40.sm:w-96.mr-2.sm:mr-6(
  data-controller='dropdown'
  data-action='click->dropdown#toggle\
               click@window->dropdown#hide\
               touchstart@window->dropdown#hide\
               keydown.up->dropdown#previousItem\
               keydown.down->dropdown#nextItem\
               keydown.esc->dropdown#hide'
)
  button(
    data-action='dropdown#toggle:stop'
    class='text-center text-base sm:text-lg text-stone-700 font-medium \
           bg-white px-2 sm:px-4 py-2 rounded-md truncate \
           hover:ring-2 focus:outline-none focus:ring-2 focus:ring-cyan-500'
  )
    - if @contest.present? && !@contest.new_record?
      = @contest.name
    - else
      = t('views.layouts.header.select_contest')
    .ml-1.sm:ml-2.i.fa-solid.fa-chevron-down
  div(
    data-dropdown-target='menu'
    class='hidden absolute top-8 right-0 mt-2 w-40 sm:w-64 flex flex-col \
           bg-white border-2 border-stone-200 rounded-md z-30'
  )
    - @recent_contests.each do |contest|
      = link_to contest.name,
        contest_path(contest),
        data: { dropdown_target: 'menuItem' },
        class: 'no-underline px-4 py-2 text-stone-700 truncate \
        hover:bg-stone-200 \
        focus:ring-inset focus:ring-2 focus:ring-cyan-500 focus:rounded-lg'
    = link_to t('views.layouts.header.contest_index'),
      user_contests_path(current_user),
      data: { dropdown_target: 'menuItem' },
      class: 'no-underline px-4 py-2 text-stone-700 \
      hover:bg-stone-200 \
      focus:ring-inset focus:ring-2 focus:ring-cyan-500 focus:rounded-lg'
